@import "src/common/scss/variables";

.tasksContainer {
  margin-top: 3rem;
  width: 450px;
  max-height: calc(100vh - 430px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem 1rem 1rem 2.5rem;
}
