@import '../../../../scss/variables.scss';

.selectedOptionContainer {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 36px;
  border: 1px solid $black5;
  border-radius: 8px;
  cursor: pointer;
}

.selectedOption {
  display: flex;
  align-items: center;
  font-size: $caption;
  font-weight: $medium;
  margin-right: 0.5rem;

  img {
    width: 20px;
    margin-right: 0.5rem;
  }
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.arrow {
  transform: rotate(180deg);
}

.rotateArrow {
  transform: rotate(0deg);
}

.placeholder {
  color: $neutral;
}
