@import '../../common/scss/variables.scss';



.dashboardGrid {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 87px 75px 1fr;
    grid-template-areas: 
        "d-sidebar d-header"
        "d-sidebar d-subheader"
        "d-sidebar d-content"
    ;
    height: 100%;
}

.dashboardSidebar {
    grid-area: d-sidebar;
    padding: 3rem 2rem;
    border-right: 1px solid $black5;
}

.dashboardHeader {
    grid-area: d-header;
    border-bottom: 1px solid $black5;
}

.dashboardSubheader {
    grid-area: d-subheader;
}

.dashboardContent {
    grid-area: d-content;
}
