@import '../../scss/variables.scss';



.svg {

    .green {
        fill: $green;
    }

    .red {
        fill: $red;
    }

    .neutral {
        fill: $neutral;
    }

    .black {
        stroke: $black;
    }
}
