@import '../../scss/variables.scss';

.svg {
  transition: all 300ms ease;

  .green {
    fill: $green;
  }

  .red {
    fill: $red;
  }

  .neutral {
    fill: $neutral;
  }

  .lightGray {
    fill: $black10;
  }

  .black {
    stroke: $black;
  }

  .orange {
    fill: $orange;
  }

  .white {
    fill: $white;
  }
}
