@import 'src/common/scss/variables';

.status {
  padding: 0.5rem;
  font-size: $caption;
  font-weight: $medium;
  white-space: nowrap;
  border-radius: 8px;
}

.todo {
  background-color: $orange5;
  color: $orange;
}

.inprogress {
  background-color: $blue5;
  color: $blue;
}

.underreview {
  background-color: $red5;
  color: $red;
}

.readyfortesting {
  background-color: $purple5;
  color: $purple;
}

.done {
  background-color: $green5;
  color: $green;
}
