@import 'src/common/scss/variables';

.notesButton {
  &:hover {
    svg {
      path {
        fill: $black20;
      }
    }

    .number {
      color: $black30;
    }
  }
}

.number {
  font-size: $smallestCaption;
  font-weight: $medium;
  color: $black20;
  position: relative;
  left: -2px;
}
