@import '../../../../../common/scss/variables.scss';

.userContainer {
  display: flex;
  align-items: center;
}

.photo {
  margin-right: 0.5rem;
}

.userInfo {
  position: relative;
  line-height: 1;

  .name {
    display: flex;
    align-items: center;
    font-weight: $bold;
  }

  .email {
    font-size: $caption;
    font-weight: $medium;
    color: $neutral;
  }
}
