@import '../../../scss//variables.scss';

.header {
    border-bottom: 1px solid $black5;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.title {
    font-size: $subHeading;
    font-weight: $medium;
    color: $neutral;
}
