@import '../../../scss//variables.scss';

.header {
    height: 87px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid $black5;
    transition: all 200ms ease;
}

.title {
    font-size: $subHeading;
    font-weight: $medium;
    color: $neutral;
}
