@import '../../../../../../common/scss/variables.scss';



.task {
    width: 100%;
    padding: 1rem;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $black5;
    transition: all 100ms ease;
    cursor: grab;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &:hover {
        transform: scale(1.025);
        box-shadow: 0 0 25px rgba($black, 0.05);
    }
}
