@import '../../scss/variables.scss';


.tooltipContainer {
    position: relative;
}

.tooltip {
    position: absolute;
    font-size: $caption;
    font-weight: $medium;
    color: $white;
    white-space: nowrap;
    padding: 0.4rem 0.6rem;
    border-radius: 9px;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease;
}

.tooltipVisible {
    opacity: 1;
}
