// Primary colors
$blue: #0066cc;
$green: #00b894;
$orange: #ffa726;
$red: #eb5757;
$purple: #c157eb;
$black: #000000;
$white: #ffffff;
$neutral: #636E72;

// Blue shades
$blue10: #cce0f5;
$blue20: #aaccee;
$blue30: #80b3e6;
$blue40: #5599dd;
$blue50: #2a80d5;
$blue60: #0055aa;
$blue70: #004488;
$blue80: #003366;
$blue90: #002244;
$blue100: #001429;

// Green shades
$green5: #e8fffb;
$green10: #ccf1ea;
$green20: #aae7db;
$green30: #80dcca;
$green40: #55d0b8;
$green50: #2ac4a6;
$green60: #00997b;
$green70: #007b63;
$green80: #005c4a;
$green90: #003d31;
$green100: #00251e;

// Orange shades
$orange10: #ffedd4;
$orange20: #ffe2b7;
$orange30: #ffd393;
$orange40: #ffc46e;
$orange50: #ffb64a;
$orange60: #d58b20;
$orange70: #aa6f19;
$orange80: #805413;
$orange90: #55380d;
$orange100: #332108;

// Black shades
$black5: #e6e6e6;
$black10: #d0d0d0;
$black20: #b0b0b0;
$black30: #898989;
$black40: #626262;
$black50: #3a3a3a;
$black60: #101010;
$black70: #0d0d0d;
$black80: #0a0a0a;
$black90: #060606;
$black100: #040404;

// Red shades
$red5: #ffeeee;

// Purple shades
$purple10: #f9e9ff;

// Notification colors
$info: #0066cc;
$success: #27ae60;
$warning: #f2994a;
$error: #eb5757;



// Typograhy

// Font
$font: 'Inter', sans-serif;

// Weights
$regular: 400;
$medium: 500;
$bold: 700;

// Headings
$headingOne: 2.5rem;
$headingTwo: 2rem;
$headingThree: 1.5rem;

// Subheadings
$subHeading: 1.25rem;

// Body
$bodyOne: 1.125rem;
$bodyTwo: 1rem;
$bodyThree: 0.875rem;

// Caption
$caption: 0.75rem;
