@import '../../../../scss/variables.scss';

.optionsList {
  width: 100%;
  position: absolute;
  border: 1px solid $black5;
  border-radius: 8px;
  background-color: $white;
  padding: 0.5rem;
  box-shadow: 0 0 15px rgba($black, 0.05);
}

.option {
  height: 1.8rem;
  display: flex;
  align-items: center;
  font-size: $caption;
  font-weight: $medium;
  color: $neutral;
  padding: 0 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 200ms ease;

  &:hover {
    background-color: $black5;
  }

  img {
    width: 20px;
    margin-right: 0.5rem;
  }
}
