@import '../../../../../../common/scss/variables.scss';



.userButton {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border: 1px solid $black5;
    margin-top: 1rem;
    transition: all 200ms ease;

    &:hover {
        background-color: rgba($black5, 0.15);
    }
}

.userInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .name {
        margin-left: 0.5rem;
        margin-bottom: 0.2rem;
        font-size: $medium;
        font-weight: $medium;
    }
}

.arrow {
    margin-left: auto;
    transform: rotate(180deg);
}
