@import '../../../common/scss/variables.scss';

.header {
  height: 87px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem 0 1rem;
  border-bottom: 1px solid $black5;
  transition: all 200ms ease;
}

.title {
  width: 200px;
  font-size: $subHeading;
  font-weight: $medium;
  color: $neutral;
}

.headerRightSide,
.actions {
  display: flex;
}

.actions {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
