@import "src/common/scss/variables";

.projectButton {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border: 1px solid $black5;
	margin-top: 1rem;
	transition: all 200ms ease;
	cursor: pointer;

	&:hover {
		background-color: $green5;

		.projectInfo {
			color: $green;
		}
	}
}

.projectInfo {
	display: flex;
	align-items: center;
	font-size: $bodyThree;
	font-weight: $medium;
	transition: all 200ms ease;

	img {
		margin-right: 0.5rem;
	}

	.name {
		font-size: $medium;
		font-weight: $medium;
	}
}

.activeProjectButton {
	color: $green;
	background-color: $green5;
}
