@import '../../../../common/scss/variables.scss';



.selectedProjectContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.project {
    display: flex;
    align-items: center;

    .info {
        margin-left: 0.5rem;

        .projectName {
            font-size: $bodyTwo;
            margin-bottom: 0.3rem;
        }
    }
}
