@import '../../../../../../common/scss/variables.scss';



.progressBarContainer {
    display: flex;
    align-items: center;

    .progressBar {
        width: 600px;
        height: 8px;
        background-color: rgba($black5, 0.35);
        border-radius: 100px;
    
        .progress {
            width: 0px;
            height: 100%;
            border-radius: inherit;
            background-color: $green;
        }
    }

    .progressPercentage {
        font-size: $caption;
        font-weight: $medium;
        color: $neutral;
        margin-left: 0.5rem;
    }
}
